APP_DEBUG = true# APP#APP_DEFAULT_TIMEZONE = Asia/Shanghai#数据库 DATABASE#DATABASE_DRIVER = mysql#DATABASE_TYPE = mysql#DATABASE_HOSTNAME = 127.0.0.1#DATABASE_DATABASE = test#DATABASE_USERNAME = username#DATABASE_PASSWORD = password#DATABASE_HOSTPORT = 3306#DATABASE_CHARSET = utf8mb4#DATABASE_PREFIX = cmf_#DATABASE_DEBUG = true#DATABASE_AUTHCODE = xxxxx