<!doctype html>
<html>
<head>
<include file="public/head" />
</head>
<body>
	<div class="wrap">
		<include file="public/header" />
		<div class="section">
			<div class="main">
				<pre class="agreement">ThinkCMF软件使用协议

版权所有 ©2013-{:date("Y")},ThinkCMF开源社区

感谢您选择ThinkCMF内容管理框架, 希望我们的产品能够帮您把网站发展的更快、更好、更强！

ThinkCMF遵循Apache Lisense 2.0开源协议发布，并提供免费使用。

ThinkCMF建站系统由简约风网络科技(以下简称简约风，官网http://www.thinkcmf.com)发起并开源发布。
简约风网络科技包含以下网站：
ThinkCMF官网： http://www.thinkcmf.com

ThinkCMF免责声明
  1、使用ThinkCMF构建的网站的任何信息内容以及导致的任何版权纠纷和法律争议及后果，ThinkCMF官方不承担任何责任。
  2、您一旦安装使用ThinkCMF，即被视为完全理解并接受本协议的各项条款，在享有上述条款授予的权力的同时，受到相关的约束和限制。</pre>
			</div>
			<div class="bottom text-center">
				<a href="{:url('index/step2')}" class="btn btn-primary">{:lang('ACCEPT')}</a>
			</div>
		</div>
	</div>
	<include file="public/footer" />
</body>
</html>